@media print {
  body * {
    visibility: hidden;
  }

  #receipt-container,
  #receipt-container * {
    visibility: visible;
  }

  #receipt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
}

.receipt-thermal-58 {
  max-width: 58mm;
}

.receipt-thermal-80 {
  max-width: 80mm;
}
